@charset "utf-8";
/* CSS Document */

body {
	background-color:#000000
}
img .dev1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}.generalpara {
}
.generalparagraph {
}
.h1 {
}
.para {
}
